@import "~bootstrap/scss/bootstrap";


.descriptionCard {
    width: 100%;
}

.message_board.container-fluid{
    height: 100vh;
}

.seb.btn.btn-primary{
    color: #ffc00f;
    background-color: #2b5161;
    border-color: #ffc00f;
    width: 70%;
}

.ceb.btn.btn-warning{
    border-color: #15afc7;
}

.eb.btn.btn-primary{
    color: #ffc00f;
    background-color: #2b5161;
    border-color: #ffc00f;
    width: 7%;
}