@import "~bootstrap/scss/bootstrap";

.threadRow {
    justify-content: flex-start;
}

.threadRow.row{
    padding-bottom: 5px;
}

.thread_board.container-fluid{
    height: 100vh;
}

.no-threads.h1{
    color: white;
}

.no-threads.h2{
    color: white;
}


