

.body-grid-container
{
    display:grid;
    grid-template-areas: 
    "logo hd hd "
    "nav feed info";
    grid-template-columns:20% 60% 20%;
    grid-auto-rows: minmax(80px, auto);
    align-items: end;

}

.logo
{
    grid-area:logo;
}

.header
{
    grid-area:hd;
    background-color: gold;
    position: relative;
}

.nav-grid-column
{
    grid-area:nav;  
    background-color: grey;
    position: relative;
    align-self: stretch;
    display:flexbox;
    flex-direction: row;
}

.info-grid-column
{
    grid-area:info;
    background-color: lime;
    position: relative;
    align-self: stretch;
    
}