
<html>
    <head>
        <title> Towson Connect </title>
        <link href="./grid_practice.css" type="text/css" 
        rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <div class="box1">
                <div class='box1-top'>
                    <div class='logo-icon'>
                        <img src='TowsonUlogo-horiz-color-rev_logoSize.png'
                        alt='Towson University Logo'
                        style="height: 53px; width: 160px;" />
                    </div>
                    <div class='login-flex'>
                        <div class='user-icon'>
                            <img src="./user-icon.png"
                            alt='Default User Head'
                            />
                        </div>
                        <div class='login-div'>
                            <p>login</p>
                        </div>
                        <div class='logout-div'> 
                            <p>logout</p>
                        </div>
                        
                    </div>
                </div>     
                <div class="navbox">
                    <div class="nav-link">
                        <a href="../course/index.html">Course List</a>
                    </div>
                    <div class="nav-link">
                        <a href="../feed/index.html">Notifications</a>
                    </div>
                </div>
            </div>
            <div class="box2"> 
                <div class="sideBar">
                    <img src='./bell_unhighlighted.png'
                    alt='notification-bell'>
                    <img src='./grade_unhighlighted.png'
                    alt='grade-icon'>
                    <img src='./message_unhilighted.png'
                    alt='message-icon'/>
                </div> 
                <div class="feedBox"> 
                    <div class="left-feed">
                        <h1> Updates </h1>
                        <div class="dynamic_course_div">
                            <h2>Courses</h2>
                            <ul class="course_list">
                                <li id="course_one">
                                    <a id="course_one_link" 
                                    href="https://www.duckduckgo.com">
                                    Course One
                                    </a>
                                </li>
                                <li id="course_two">
                                    <a id="course_two_link" 
                                    href="https://www.google.com">
                                    Course Two
                                    </a>
                                </li>
                                <li id="course_three">
                                    <a id="course_three_link" 
                                    href="https://www.bing.com">
                                    Course Three
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-feed">
                        <div class='notificationTitle'>
                            <h2> All Notifications</h2>
                        </div>
                        <div class='feed-items'>
                            <div class='feed-item'>
                                <h3>Header: Search</h3>
                                <p class='long'>Try to search on DuckDuckGo</p>
                                <a href='https://www.duckduckgo.com' class='hyperlink'>DuckDuckGo</a>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>
            
        </div>
    </body>
</html>