@import "~bootstrap/scss/bootstrap";

.courseItem
{
    list-style: none;
}



.courseListWrapper
{
    display: inline-block;
    border: 1px black solid;
    width:40%;
    margin: 40px auto;
    -moz-box-shadow: -4px 6px 12px rgba(0, 0, 0, .15);
    -webkit-box-shadow: -4px 6px 12px rgba(0, 0, 0, .15);
    box-shadow: -4px 6px 12px rgba(0, 0, 0, .15);
}

.courseHeaderDiv
{
    border: 1px black solid;
    background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
}

.courseHeaderDiv >h2{
    color:white;
    padding-left: 5px;
}

.courseItem.list-group-item{
    padding: 0%;
}

.courseListGroup.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}